@charset "utf-8";
@import url('font.css');
html {font-size: 0.625rem; }
body {font: 1.6rem 'Hahmlet', serif; max-width: 1903px; scroll-behavior:smooth; color: #111;}

body::-webkit-scrollbar {
    width: 15px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #fccd90; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
header {
    width: 100%;
    position: relative;
    z-index: 2;
}
.menu {
    position: relative;
    width: 1783px;
    margin: 0 auto;
    padding: 5.0em 0 3.125em 0;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
}
.menu .logo {
    position: absolute;
    width: 7.813em;
    top: 60px;
}
.menu .logo h2 a svg {
    fill: #111;
}
.menu-container {
    width: 100%;
}
.menu {
    /* height: 0px; */
}
/* .menu:hover {
    width: 100%;
    max-height: 50vh;
    background: #fff;
} */
.menu-container .header-menu {
    display: inline-block;
    text-align: center;
    /* height: 28vh; */
    height: auto;
    position: relative; 
}
.menu-container .header-menu:hover {
    color: #111;
}
.menu-container .header-menu .depth1 {
    float: left;
    width: 10.000em;
    margin-right: 0.938em;
}
.menu-container .header-menu .depth1 > a {
    position: relative;
    font-weight: 500;
    display: block;
    padding-bottom: 30px;
    box-sizing: border-box;
}.menu-container .header-menu .depth1:nth-child(2) > a{
    color: #e09f54c0;
}
.menu-container .header-menu .depth1:nth-child(2) > .offers:before {
    position: absolute;
    content: '';
    background: #e09f54c0;
    border-radius: 50%;
    width: 7px; height: 7px;
    left: 50%; top: -5px;
    transform: translateX(-50%);
    /* display: none; */
}
.menu-container .header-menu .depth1:not(:nth-child(2)) > a:hover {
    color: #e09f54c0;
}
.depth1 > a::before {
    position: absolute;
    content: '';
    background: transparent;
    border-radius: 50%;
    width: 7px; height: 7px;
    left: 50%; top: -20px;
    transform: translateX(-50%);
    /* display: none; */
    transition: all 0.3s;
}
.depth1.depth1:not(:nth-child(2)):hover a:before {
    display: block;
    top: -5px;
    background: #e09f54c0;
}
.header-right {
    position: absolute;
    display: inline-block;
    width: 20%;
    right: 0; top: 80px;
}
.header-right .reserv {
    display: inline-block;
}
.depth2 {
    display: none;
    color: #111;
}
.hide-menu {
    position: absolute;
    text-align: left;
    width: 1000px;
    left: 45px; /* top: 70px; */
}
.hide-menu li {
    float: left;
    width: 240px;
    line-height: 1.9;
}
.hide-menu li .offers-package {
    color: #c28949;
}
.hide-menu-depth li{
    display: block;
}
.hide-menu-depth li a {
    color: #9b9b9b;
}
.gnb_bg{
    position: absolute;
    background: #fff;
    /* top: -600px; left: 0; */
    width: 100%; height: 45vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0;
    display: none;
    top: 0; left: 0;
}
.header-right .lang {
    margin-right: 2.5em;
}
.header-right .lang .lang-text {
    vertical-align: 1px;
}
.header-right .lang span {
    font-size: 1.4rem;
}
.header-right .reserv a{
    border: 1px solid #111;
    padding: 0.625em 1.250em;
    box-sizing: border-box;
    transition: all 0.30s;
}
.header-right .reserv a:hover {
    background: #111;
    border-color: #fff;
    color: #fff;
}
/* header */

#package {
    max-width: 96.875em;
    margin: 6.250em auto 3.750em;
    height: 1000px;
}
.package-title {
    position: relative;
    margin-bottom: 4.063em;
}
.package-title  h1 {
    font-size: 4rem;
    font-weight: 600;
}
.package-title p {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 0.278em;
}
.search-sec {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
}
.search-label input {
    outline: none;
    border-bottom: 2px solid #111;
    padding: 0.438em 0 0.438em 0.313em;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'Hahmlet', serif;
}
.search-label .offers-ico {
    display: inline-block;
    background: url(../img/offers-search-ico.png) no-repeat center/cover;
    width: 1.125em; height: 1.125em;
    vertical-align: -7px;
    cursor: pointer;
}
/* package-title */

.package-menu {
    margin-bottom: 3.750em;
}
.package-menu a {
    padding: 0.625em 1.875em;
    box-sizing: border-box;
    border: 1px solid #777;
    border-radius: 30px;
    margin-right: 0.938em;
    color: #777;
    transition: ease-in-out 0.3s;
}
.package-menu a span {
    padding: 0;
    font-size: 1.7rem;
    font-weight: 500;
}
.package-menu .americano {
    background: #111;
    border: none;
    color: #fff;
}
.package-menu a:not(:nth-child(6)):hover {
    border: 1px solid #777;
    background: rgba(200,200,200,0.5);
}
/* package-menu */
.package-content {
}
.package-images {
    float: left;
    margin-right: 2.5em;
}
.package-content .package-images:nth-child(even) {
    margin-right: 0;
}
.package-images > a {
    display: inline-block;
    width: 46.875em; height: 26.875em;
    overflow: hidden;
    margin-bottom: 1.875em;
}
.package-images img {
    transition: ease-in-out 0.3s;
}
.package-images img:hover {
    transform: scale(1.05);
}
.hash-tag {
    margin-bottom: 0.375em;
}
.hash-tag a{
    color: #555;
    font-weight: 500;
}
.hash-tag a:first-child {
    margin-right: 0.313em;
}
.main-text {
    position: relative;
    padding-bottom: 1.563em;
    box-sizing: border-box;
    border-bottom: 1px solid #999999c5;
}
.main-text h2 {
    font-size: 3.4rem;
    font-weight: 500;
    margin-bottom: 0.294em;
}
.main-text a {
    position: absolute;
    right: 1.786em; bottom: 65px;
    font-size: 1.4rem;
    color: #777;
    transition: 0.3s;
}
.main-text a:hover {
    color: #000;
}
.main-text a:hover a:after {
    border-color: #000;
}
.main-text a:after {
    position: absolute;
    right: -10px; 
    top: 8px; 
    content: '';
    width: 6px;
    height: 6px;
    border-top: 1px solid #777; 
    border-right: 1px solid #777;
    transform: rotate(45deg);
    transition: 0.3s;
}
.main-text p {
    color: #555;
    font-weight: 500;
}
.bottom-text {
    padding-top: 1.563em;
    box-sizing: border-box;
}
.package-info {
    margin-bottom: 6.250em;
}
.package-info li {
    font-size: 1.4rem;
}
.package-info li strong {
    font-weight: 600;
    margin-right: 1.071em;
}
.package-info li span {
    color: #555;
}
/* package-images */