@charset "utf-8";
@import url('font.css');
html {font-size: 0.625rem; }
body {font: 1.6rem 'Hahmlet', serif; max-width: 1903px; scroll-behavior:smooth; color: #111;}

body::-webkit-scrollbar {
    width: 15px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #fccd90; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
header {
    width: 100%;
    position: relative;
    z-index: 2;
}
.menu {
    position: relative;
    width: 1783px;
    margin: 0 auto;
    padding: 5.0em 0 3.125em 0;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
}
.menu .logo {
    position: absolute;
    width: 7.813em;
}
.menu .logo h2 a svg {
    fill: #111;
}
.menu-container {
    width: 100%;
}
.menu {
    /* height: 0px; */
}
/* .menu:hover {
    width: 100%;
    max-height: 50vh;
    background: #fff;
} */
.menu-container .header-menu {
    display: inline-block;
    text-align: center;
    /* height: 28vh; */
    height: auto;
    position: relative; 
}
.menu-container .header-menu:hover {
    color: #111;
}
.menu-container .header-menu .depth1 {
    float: left;
    width: 10.000em;
    margin-right: 0.938em;
}
.menu-container .header-menu .depth1 > a {
    position: relative;
    font-weight: 500;
    display: block;
    padding-bottom: 30px;
    box-sizing: border-box;
}.menu-container .header-menu .depth1:nth-child(1) > a{
    color: #e09f54c0;
}
.menu-container .header-menu .depth1:nth-child(1) > .rooms:before {
    position: absolute;
    content: '';
    background: #e09f54c0;
    border-radius: 50%;
    width: 7px; height: 7px;
    left: 50%; top: -5px;
    transform: translateX(-50%);
    /* display: none; */
}
.menu-container .header-menu .depth1:not(:nth-child(1)) > a:hover {
    color: #e09f54c0;
}
.depth1 > a::before {
    position: absolute;
    content: '';
    background: transparent;
    border-radius: 50%;
    width: 7px; height: 7px;
    left: 50%; top: -20px;
    transform: translateX(-50%);
    /* display: none; */
    transition: all 0.3s;
}
.depth1.depth1:not(:nth-child(1)):hover a:before {
    display: block;
    top: -5px;
    background: #e09f54c0;
}
.header-right {
    position: absolute;
    display: inline-block;
    width: 20%;
    right: 0; top: 80px;
}
.header-right .reserv {
    display: inline-block;
}
.depth2 {
    display: none;
    color: #111;
}
.hide-menu {
    position: absolute;
    text-align: left;
    width: 1000px;
    left: 45px; /* top: 70px; */
}
.hide-menu li {
    float: left;
    width: 240px;
    line-height: 1.9;
}
.hide-menu li .rooms-standard {
    color: #c28949;
}
.hide-menu-depth li{
    display: block;
}
.hide-menu-depth li a {
    color: #9b9b9b;
}
.gnb_bg{
    position: absolute;
    background: #fff;
    /* top: -600px; left: 0; */
    width: 100%; height: 45vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0;
    display: none;
    top: 0; left: 0;
}
.header-right .lang {
    margin-right: 2.5em;
}
.header-right .lang .lang-text {
    vertical-align: 1px;
}
.header-right .lang span {
    font-size: 1.4rem;
}
.header-right .reserv a{
    border: 1px solid #111;
    padding: 0.625em 1.250em;
    box-sizing: border-box;
    transition: all 0.30s;
}
.header-right .reserv a:hover {
    background: #111;
    border-color: #fff;
    color: #fff;
}
/* header */

.rooms-title {
    max-width: 96.875em;
    margin: 6.250em auto 3.750em;
}
.rooms-title h1 {
    font-size: 4rem;
    font-weight: 600;
}
.rooms-title p {
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
    margin-top: 0.278em;
}
/* rooms-title */
.rooms-menu {
    background: #f3f3f3bb;
    padding: 2.813em 0;
}
.rooms-menu p {
    max-width: 96.875em;
    margin: 0 auto;
}
.rooms-menu p .tap {
    font-size: 1.7rem;
    font-weight: 500;
    color: #999999c5;
    transition: all 0.3s;
}
.rooms-menu p .tap:hover {
    color: #111;
}
.rooms-menu p .tap.standard {
    color: #111;
}
.rooms-menu p span {
    font-weight: 300;
    padding: 0 1.923em;
    box-sizing: border-box;
    font-size: 1.3rem;
    vertical-align: 0.154em;
    color: #999999c5;
}
.sub-text {
    max-width: 96.875em;
    margin: 4.375em auto 0;
}
.sub-text p, .sub-text p span{
    font-size: 2rem;
    font-weight: 500;
}
.sub-text p span {
    font-weight: 600;
}
.standard-img {
    display: flex;
    max-width: 96.875em;
    margin: 1.875em auto 3.750em;
    height: 80vh;
    justify-content: space-between;
    flex-wrap: wrap;
}
.swiper-text {
    max-width: 96.875em;
}
.mainSwiper {
    width: 750px;
}
.mainSwiper.all1 {
    /* margin-right: 10px; */
}
.mainSwiper .swiper-slide img {
    transition: ease-in-out 0.3s;
}
.mainSwiper .swiper-slide img:hover{
    transform: scale(1.05);
}
.swiper-button-next, .swiper-button-prev{
    color: rgba(255,255,255,0.7) !important;
    padding: 0 1.875em;
    box-sizing: border-box;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 3.5rem !important;
    font-weight: 300 !important;
}
.all2 .swiper-button-prev.all2btn, .swiper-button-next.all2btn {
    top: 217px;
}
.top-text {
    width: 750px;
    position: relative;
    padding: 1.875em 0;
    border-bottom: 1px solid #999999c5;
}
.top-text p {
    font-size: 1.4rem;
    color: #777;
}
.top-text h2 {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 500;
}
.top-text a {
    position: absolute;
    right: 1.786em; bottom: 33px;
    font-size: 1.4rem;
    color: #777;
}
.top-text a:hover {
    color: #000;
}
.top-text a:hover a:after {
    border-color: #000;
}
.top-text a:after {
    position: absolute;
    right: -10px; 
    top: 8px; 
    content: '';
    width: 6px;
    height: 6px;
    border-top: 1px solid #777; 
    border-right: 1px solid #777;
    transform: rotate(45deg);
}
.room-info {
    padding: 1.875em 0;
    height: 100px;
}
.room-info .room-info-text {
    width: 400px;
    height: auto;
}
.room-info .room-info-text li {
    float: left;
    width: calc(100%/2);
    line-height: 2;
}
.room-info-text li strong,span {
    display: inline-block;
    font-size: 1.7rem;
}
.room-info-text li strong {
    font-weight: 600;
    width: 85px;
}